{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Transmisión en Vivo{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">

    <!-- HLS.js -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>

    <!-- Fondo -->
    <div class="background"></div>
    <div class="overlay"></div>

    <!-- Header -->
    <header class="site-header">
        <div class="brand">
            <img src="{% static 'core/img/logo.png' %}" alt="Logo CCR" class="brand-logo">
            <div class="brand-text">
                <h1 class="site-title">Centro Cristiano Refugio</h1>
                <span class="site-subtitle">Transmisión en vivo</span>
            </div>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#horarios">Horarios</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li>
                    <a href="https://kaircampanel.grupokairosarg.com" target="_blank" rel="noopener noreferrer" class="panel-button">
                        Ir al Panel
                    </a>
                </li>
                
            </ul>
        </nav>
    </header>

    <!-- Contenido -->
    <main class="site-content">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="site-footer">
        © {{ now|date:"Y" }} Centro Cristiano Refugio - Todos los derechos reservados<br>
        "Porque donde están dos o tres congregados en mi nombre, allí estoy yo en medio de ellos" - Mateo 18:20
    </footer>

    <!-- JS -->
    <script src="{% static 'core/js/base.js' %}"></script>

</body>
</html>